body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-image: url(https://i.pinimg.com/originals/93/98/94/9398944b931f51d4ab0a8e92f44ca452.jpg)
}

body.modo-escuro {
background-image: url(https://images6.alphacoders.com/641/thumb-1920-641430.jpg);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.05);
	cursor: pointer;
}

main {
	padding: 25px;
}

main .listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main .cartao-pokemon {
	background-color: #d8e3ec;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
	background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon:hover {
	background-color: #3f1e64;
}

.modo-escuro .cartao-pokemon {
	background-color: #222450;
}

main .cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	border: 1px solid #3d0a79;
	border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

main .cartao-pokemon .gif {
	width: 90px;
	height: 90px;
}

main .cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

main .cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 10px;
}

.agua {
	background-color: #3181f8;
}

.escuridao {
	background-color: #752f8afb;
}

.fantasma {
	background-color: #815c8b;
}

.veneno {
	background-color: #d644d4fb;
}

.dragao {
	background-color: #5563df;
}

.terra {
	background-color: #b6720d;
}

.lutador {
	background-color: #e06513;
}

.ferro {
	background-color: #a3a3a3;
}

.fogo {
	background-color: #ce3115;
}

.voador {
	background-color: #a5e7f3;
}

main .descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}
